/*bleu #78e4e4 - rgba(120, 228, 228, 1)
blue #b8ecf4 - rgba(185, 217, 235, 1)
vert #085c74 - rgba(8, 92, 116, 1)
marron #58340c - rgba(88, 52, 12, 1) */

html {
scroll-behavior: smooth;
/* Disables pull-to-refresh but allows overscroll glow effects. */
overscroll-behavior: none;
}
body {
margin: 0;
padding: 0;	
font-family: 'Rambla', Helvetica, Arial, sans-serif;
font-weight: lighter;
box-sizing: border-box;
overflow-x: hidden;
min-height: 100vh;
background: #b8ecf4;
scroll-behavior: smooth;
}
a {
text-decoration: none;
}
/*////////////////////NAV/////////////////////////*/
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-family: 'Pirata One', Helvetica, Arial, sans-serif;
}
#logo {
  height: 120px;  
  width: auto;
  margin: 25px;
}
#logo img {
  height: 120px;
}
nav {
 width: 60%;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  list-style: none;
  position: relative;
}
nav ul li.sub-menu:before {
  content: '\f107';
  position: absolute;
  font-family: fontAwesome;
  line-height: 50px;
  right: 5px;
  color: white;
}
nav ul li.active.sub-menu:before {
  content: '\f106';
}
nav ul li ul {
  position: absolute;
  left: 0;
  display: none;
}
nav ul li.active ul {
  display: block;
}
nav ul li ul li {
  display: block;
  width: 200px;
}
nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  display: block;
  font-size: 1.5em;
  color: black;
  text-align: center;
}
nav ul li a:hover, nav ul li a.active {
  color: white;
  background: #085c74;
  border-radius: 30px;
}
.menu-toggle {
  width: 80px;
  height: 80px;  
  cursor: pointer; 
  display: none;
  transition: all 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
  
}
.menu-burger {
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}
.menu-burger::before, .menu-burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.menu-burger::before {
  transform: translateY(-15px);
}
.menu-burger::after {
  transform: translateY(15px);
}
.menu-toggle.open .menu-burger {
  /*transform: translateX(-50px);*/
  background: transparent;
  box-shadow: none;

}
.menu-toggle.open .menu-burger::before {
  transform: rotate(45deg) translateY(0px);
}
.menu-toggle.open .menu-burger::after {
  transform: rotate(-45deg) translateY(0px);
}
main {
  color: white;
}
section {
	background-image: linear-gradient(
        rgba(8, 92, 116, 1), 
        rgba(8, 92, 116, 0.95)
      ), url("img/background.png"); 
background-size: cover;
background-attachment: fixed;
background-repeat: repeat;
background-position: top center;
}
/*/////////////////////////////////////PARALLAX//////////////////////////////////*/
#parallax {
  position: relative;
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#parallax::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100px;
  /*background: linear-gradient(to top, #085c74, transparent);*/
  background-image: linear-gradient(
        180deg,         
        transparent 75%,        
        #085c74 100%);
  z-index: 10;
}
#parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
}
h1 {
  position: absolute;
  color: white;
  font-family: 'Pirata One', Helvetica, Arial, sans-serif;
 -webkit-text-stroke: 3px black;
  letter-spacing: 0.05em;
  line-height: 1.075em;
  font-size: 6em;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  transform: translateY(-50%);
  /*background-image: linear-gradient(
        180deg,         
        #FF0000 14%, 
        #FF7F00 14%, 
        #FF7F00 28%, 
        #FFFF00 28%, 
        #FFFF00 43%, 
        #00FF00 43%, 
        #00FF00 57%, 
        #0000FF 57%, 
        #0000FF 71%, 
        #4B0082 71%,
        #4B0082 85%, 
        #9400D3 85%);
  background-size: 100%;
  background-repeat: repeat;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;*/
}

/*/////////////////////////////////////COUNTDOWN//////////////////////////////////*/
#actioncounter {
  text-decoration: none;
  display: inline-block;
  padding: 8px 10px; 
  color: white; 
  border-radius: 30px;
  transform: translateY(200px);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5), 0 0 100px 100px rgba(0, 0, 0, 0.1);  
  background: rgba( 255, 255, 255, 0.25 );
/*mix-blend-mode: hard-light;*/
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
}
#actioncounter p:nth-child(1) {
  text-align: center;  
  margin: auto;/**/
  padding: 5px 0;
  color: white;
  font-weight: bolder;
  font-size: 1.75em;
}
.countdown {
  display: flex;  
  align-items: center;
}
.countdown div {
  position: relative;
  width: 75px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 5px;
  background: black;  
  font-size: 4em;
  font-weight: bolder;
  font-family: 'Cute Font', cursive;
  text-shadow: -3px 0 6px #088404, 0 3px 6px #088404, 3px 0 6px #088404, 0 -3px 40px #088404;
color: white;    
-webkit-text-stroke: 1px #088404;
}
.countdown div:before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 25px;
  font-size: 0.28em;
 background: black;
  line-height: 25px;
  color: white;
  text-shadow: none;
  -webkit-text-stroke: 0px red;
  font-family: 'Rambla', Helvetica, Arial, sans-serif;
}
.countdown #days:before {
  content: 'Jours';
}
.countdown #hours:before {
  content: 'Heures';
}
.countdown #minutes:before {
  content: 'Minutes';
}
.countdown #seconds:before {
  content: 'Secondes';
}
.dotscountdown {
  font-size: 1.25em;
  color: black;
  margin: auto;
}


/*/////////////////////////////////////SECTION DEMARCHE//////////////////////////////////*/
#demarche {
  position: relative; 
  
  display: flex;
  flex-direction: column;  
  width: 100%;
}

#demarche1, #demarche2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
#logocitation {
	display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
#intro {
	width: 75%;
	display: flex;
  flex-direction: column;
	margin: auto;
	text-align: center;
	font-size: 1.75em;
  padding-top: 50px;
}
#intro h2 {
  width: 60%;
  margin: auto;
}
#logodiv, #citation {
	width: 50%;
	object-fit: cover;
	display: flex;
	flex-direction: column;
  text-align: center;
}
#logodiv img {
	width: 350px;
	height: 100%;
	margin: auto;
}
#citation p {
	margin: auto;
	position: relative;
	font-size: 2.25em;
	font-style: italic;
	 font-family: 'Pirata One', Helvetica, Arial, sans-serif;
}
#citation p i {
	position: absolute;
}
.fa-quote-right {
	right: 2%;
}
.fa-quote-left {
	font-size: 2em;
	color: #b8ecf4;
	top: -15%;
  left: 0;
}
#citation p span {
	font-size: 0.5em;
	font-style: normal;
	position: absolute;
	right: 0;
	font-family: 'Rambla', Helvetica, Arial, sans-serif;
}



.option-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
   font-family: 'Pirata One', Helvetica, Arial, sans-serif;
}
.text {
  width: 100%;
  position: relative;
 
}
.option-text h2 {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 2.25em;
  color: #b8ecf4;
  letter-spacing: 0.025em;
  font-weight: lighter;
}
.option-text h2:nth-child(1) {
  border-bottom: 5px solid white;
}

.op-text {
 /*position: absolute;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;  
  transition: all 0.5s;
  text-align: center;
  margin: auto;
  font-family: 'Rambla', Helvetica, Arial, sans-serif;
}

#op-1-text {
  background-image: linear-gradient(180deg, 
        rgba(255, 255, 255, 0.5) 0%, rgba(8, 92, 116, 0.85) 100%), url("https://scontent.fcdg1-1.fna.fbcdn.net/v/t1.6435-9/174222481_10159283647023838_9204910002374242470_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=b9115d&_nc_ohc=YovuOuBKSzgAX-wgY74&_nc_ht=scontent.fcdg1-1.fna&oh=4f687e1250a3f2b80c7448ff554f9a94&oe=60CD5E49");
  background-position: center;
}
#op-2-text {
  background-image: linear-gradient(180deg, 
        rgba(255, 255, 255, 0.5) 0%, rgba(8, 92, 116, 0.85) 100%), url("https://scontent.fcdg1-1.fna.fbcdn.net/v/t1.6435-9/169031661_10159060391312970_3535881441029422197_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=b9115d&_nc_ohc=wqPUm2_XkA8AX-wLtP_&_nc_ht=scontent.fcdg1-1.fna&oh=7621010ee7028bdaaa3d0875a1683d3a&oe=60CC9CBE");
  background-position: 25% 30%;
}
#op-3-text {
  background-image: linear-gradient(180deg, 
        rgba(255, 255, 255, 0.5) 0%, rgba(8, 92, 116, 0.85) 100%), url("https://scontent.fcdg1-1.fna.fbcdn.net/v/t1.6435-9/166583532_5272707842802735_8765654877895691583_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=b9115d&_nc_ohc=-9HMDJzrnv8AX_DszIk&_nc_ht=scontent.fcdg1-1.fna&oh=3729ff3142ac2abcce7127ebf9f1e551&oe=60CD9E9E");
  background-position: 25% 25%;
}
#op-4-text {
  background-image: linear-gradient(180deg, 
        rgba(255, 255, 255, 0.5) 0%, rgba(8, 92, 116, 0.85) 100%), url("img/map.jpg");
  background-position: 25% 50%;
}

.op-text h3 {
  padding-top: 75px;
  font-size: 2.25em;
  margin: auto;
}
.op-text p {
	padding-top: 75px;
   font-size: 1.35em;
  width: 50%;
  margin: auto;
}
#op-2-text, #op-3-text, #op-4-text {
  display: none;
}
#op-1-text {
  display: block;
}

/*///////////////////////////////////////TESTIMONIALS//////////////////////////////*/
.temoignages {	
	display: flex;
  flex-direction: column;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	min-height: 100vh;	
  
   background-image: linear-gradient(
        rgba(0, 0, 0, 0.85), 
        rgba(8, 92, 116, 1)
      ), url("img/background.png"); 
   /*background-image: linear-gradient(270deg,
         rgba(8, 92, 116, 0.85), 
        rgba(255, 255, 255, 0.85)
      ), url("img/background.png"); */
background-size: cover;
background-attachment: scroll;
background-repeat: repeat;
background-position: top center;
padding: 50px 0;
}
#introtemoignages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
#introtemoignages h2 {   
   margin: 0 auto;
  text-align: center;
   width: 100%;
  font-size: 4em;
    font-family: 'Pirata One', Helvetica, Arial, sans-serif;
    padding-bottom: 25px;
}
#introtemoignages p { 
  font-size: 1.5em;
  line-height: 1.5em;
}

.testimonials {
  position: relative;
  max-width: 100%;  
  -webkit-box-reflect: below 1px linear-gradient(transparent 85%, #085c74);
}
/*.swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }*/

.swiper-slide {
	background-position: center;
	background-size: cover;
	max-width: 350px;
	min-height: 350px;
	margin: 0 20px;
	background-color: transparent;
}
.swiper-container-3d .swiper-slide-shadow-left {
    background-image: none;
}
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}
.swiper-slide-shadow-left, .swiper-slide-shadow-right {
  background-color: rgba(0, 0, 0, 0.5);
}

.testimonials .card {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.25);
	padding: 60px 0px;
	text-align: center;
	overflow: hidden;
	max-height: 450px;
	height: 450px;
}
.testimonials .card .content {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.testimonials .card .content p {
	font-size: 1.15em;
	padding: 0 7px;
	font-style: italic;
}
.checklogo {
  position: absolute;
  width: 75px;
  height: 75px;
  object-fit: cover;
  top: -60px;
  right: 0;
}

.swiper-pagination-bullet {
  border: 5px solid white;
}

.testimonials .card .content .imgswiper {
	width: 150px;
	height: 150px;
	object-fit: cover;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	border: 8px solid transparent;
	box-shadow: 0 10px 20px rgba(0,0,0,0.25);
	filter: grayscale(1);
}
.testimonials .card .content h3 {
	font-size: 2.5em;
	font-family: 'Pirata One', Helvetica, Arial, sans-serif;
	color: transparent;
	-webkit-text-stroke: 0.25px white;
	transition: all 0.5s ease-in-out;
}
.testimonials .swiper-slide-active:hover .content h3, .testimonials .swiper-slide-active:hover .content p {	
	color: white;
}
.testimonials .swiper-slide-active:hover .content .imgswiper {	
	filter: grayscale(0);
	border: 8px solid white;
}
.testimonials .card .water-effect {
	position: absolute;
	top: calc(90% - 5px);
	left: 0;
	width: 100%;
	height: 100%;	
	z-index: 1;
	transition: all 0.75s ease-in-out;
   animation: stretch 5s ease-in-out infinite;  
}
.water-effect .waves {
  height: 100px;
  /*background-color: #03a9f4;*/
  background-image: linear-gradient(-270deg, #085c74 0%, #b8ecf4 100%);
  animation: waves 2s ease-in-out infinite;
}

.water-effect .water {
  height: calc(100% - 100px);
  margin-top: -1px;
  /*background-color: #03a9f4;*/
  background-image: linear-gradient(-270deg, #085c74 0%, #b8ecf4 100%);
}

@keyframes waves {
  0%, 100% {
    clip-path: polygon(0 8%, 7% 6%, 14% 5%, 21% 5%, 28% 6%, 34% 8%, 40% 12%, 46% 17%, 50% 20%, 54% 23%, 60% 25%, 66% 26%, 70% 26%, 77% 25%, 83% 23%, 89% 21%, 95% 19%, 100% 17%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0 15%, 9% 21%, 14% 23%, 18% 25%, 21% 26%, 30% 28%, 32% 28%, 40% 27%, 46% 26%, 52% 23%, 57% 19%, 62% 15%, 68% 11%, 73% 8%, 79% 6%, 86% 5%, 93% 5%, 100% 6%, 100% 100%, 0% 100%);
  }
}

@keyframes stretch {
  0% {
    bottom: -130%;
  }

  100% {
    bottom: -1px;
  }
}
.testimonials .card:hover .water-effect {
	top: 0;
}
/*/////////////////////////COUNTER UP///////////////////////////*/
#bilancounter {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
#bilancounter h2 {
  margin: auto;
  width: 100%;
  text-align: center;
}
#counter-up {
  min-height: 50vh;  
  display: flex;
  align-items: center;
}
.contentcounter {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.boxcounter {
  width: 20%;
  border: 1px dashed white;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.iconcounter {
  font-size: 4em;
}
.numbercounter {
  font-size: 4.5em;
  font-weight: bolder;
}
.textcounter {
  font-size: 2em;
}
/*///////////////////////////ACTIONS FUTURES/////////////////////*/
#actionsfutures {
  position: relative;   
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  width: 100%;  
    background-image: linear-gradient(
        rgba(8, 92, 116, 1), 
        rgba(120, 228, 228, 0.75)
      ), url("img/background.png");  
background-size: cover;
background-attachment: fixed;
background-repeat: repeat;
background-position: top center;
padding: 50px 0;
}
.intro-actionsfutures {
 width: 80%;
 position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 align-items: center;
  margin: auto;
font-family: 'Special Elite', cursive;
color: black;
padding: 25px;
text-align: center;
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5), 0 0 100px 100px rgba(0, 0, 0, 0.1);  
  background: rgba( 255, 255, 255, 0.25 );
 border-radius: 30px;
}

#actionsfutures h2 {
  margin: 0 auto;
  text-align: center;
   width: 100%;
  font-size: 4em;
    font-family: 'Pirata One', Helvetica, Arial, sans-serif;
    padding-bottom: 25px;
  
}
.intro-actionsfutures a {
  width: 20%;  
  cursor: pointer;
}
.intro-actionsfutures img {
  margin: auto;
  width: 100%;
  object-fit: cover;
}
.details-actionsfutures {
  display: flex;
  flex-direction: column; 
  width: 40%; 
  padding: 0 25px;
}
.intro-actionsfutures iframe {
  margin: auto;
  width: 40%;
  height: 320px;
  margin-bottom: 10px;
  margin-top: 10px;
}
/*///////////////////////////ACTIONS PASSEES/////////////////////*/
#actionspassees {
  position: relative;   
  display: flex;
  flex-direction: column;  
  width: 100%; 
  min-height: 100vh; 
    background-image: linear-gradient(
        rgba(120, 228, 228, 0.75), 
        rgba(8, 92, 116, 0.75)
      ), url("img/background.png"); 
background-size: cover;
background-attachment: fixed;
background-repeat: repeat;
background-position: top center;

}
#actionspassees h2 {
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
 font-size: 4em;
    font-family: 'Pirata One', Helvetica, Arial, sans-serif;
}
#introactions {
  margin: auto;
  width: 100%;
  text-align: center;
 font-size: 1.5em;
  
}
.option-action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
   font-family: 'Pirata One', Helvetica, Arial, sans-serif;
   /*background-image: linear-gradient(
        rgba(8, 92, 116, 0.9), 
        rgba(120, 228, 228, 0.75)
      ), url("img/background.png"); */
background-size: cover;
background-attachment: fixed;
background-repeat: repeat;
background-position: top center;
padding: 50px;
}
.option-action img {
  cursor: pointer;
  transition: all 0.5s;
  width: 125px;
  object-fit: cover;  
}

.textactions {
  width: 100%;
  position: relative; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}
.recap-action {
 /*position: absolute;*/
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;  
  transition: all 0.5s;
  text-align: center;
  margin: auto;
 
  
}
.intro-action {
 width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("img/operations/oldpaper.jpg"); 
  background-size: cover;
  margin: auto;
font-family: 'Special Elite', cursive;
color: black;
padding: 15px 5px 40px 5px;
transform: rotate(358deg);
box-shadow: 1px 1px 20px 7px black;

}
.intro-action img {
  margin: auto;
  width: 35%;
  object-fit: cover;
  z-index: 99;
}
.details-action {
  display: flex;
  flex-direction: column;  
}

.ink-action {
  position: relative;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
.ink-action img {
  position: absolute;
  bottom: -25px;
  right: 50%;
  transform: rotate(325deg);
  opacity: 0.9;
  width: 20%;
  object-fit: cover;

}
.imgaction {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin: auto;
}
.imgaction iframe {
  margin: auto;
  width: 640px;
  height: 360px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.option-action img:nth-child(1) {
  opacity: 1;
  filter: grayscale(0);
}
.option-action img:nth-child(2), .option-action img:nth-child(3), .option-action img:nth-child(4), .option-action img:nth-child(5),
.option-action img:nth-child(6), .option-action img:nth-child(7), .option-action img:nth-child(8) {
  opacity: 0.5;
  filter: grayscale(1);
}
#ac-2-text, #ac-3-text, #ac-4-text, #ac-5-text, #ac-6-text, #ac-7-text, #ac-8-text {
  display: none;
}
#ac-1-text {
  display: flex;
}

/*////////////////SLIDER//////////*/
.slidershow {
	width: 640px;
	height: 360px;
	overflow: hidden;
}
.middle {
	position: relative;
	margin: auto;  
}
.slidenav {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}
.slidenavbar {
	width: 12px;
	height: 12px;
	border: 3px solid white;
  border-radius: 50%;
	margin: 6px;
	cursor: pointer;
	transition: 0.5s
}
.slidenavbar:hover {
	background: white;
}
.slidesshow input[name="radio"]{
	position: absolute;
	visibility: hidden;
}
.slidesshow {
	width: 500%;
	height: 100%;
	display: flex;
}
.eachslide {
	width: 20%;
	transition: 0.6s;
}
.eachslide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#radio1:checked ~ .slide1, #radio6:checked ~ .slide6, #radio11:checked ~ .slide11, #radio16:checked ~ .slide16,
#radio21:checked ~ .slide21, #radio26:checked ~ .slide26, #radio31:checked ~ .slide31, #radio36:checked ~ .slide36 {
	margin-left: 0;
}
#radio2:checked ~ .slide1, #radio7:checked ~ .slide6, #radio12:checked ~ .slide11, #radio17:checked ~ .slide16, 
#radio22:checked ~ .slide21, #radio27:checked ~ .slide26, #radio32:checked ~ .slide31, #radio37:checked ~ .slide36{
	margin-left: -20%;
}
#radio3:checked ~ .slide1, #radio8:checked ~ .slide6, #radio13:checked ~ .slide11, #radio18:checked ~ .slide16, 
#radio23:checked ~ .slide21, #radio28:checked ~ .slide26, #radio33:checked ~ .slide31, #radio38:checked ~ .slide36{
	margin-left: -40%;
}
#radio4:checked ~ .slide1, #radio9:checked ~ .slide6, #radio14:checked ~ .slide11, #radio19:checked ~ .slide16,
#radio24:checked ~ .slide2, #radio29:checked ~ .slide26, #radio34:checked ~ .slide31, #radio39:checked ~ .slide36{
	margin-left: -60%;
}
#radio5:checked ~ .slide1, #radio10:checked ~ .slide6, #radio15:checked ~ .slide11, #radio20:checked ~ .slide16,
#radio25:checked ~ .slide21, #radio30:checked ~ .slide26, #radio35:checked ~ .slide31, #radio40:checked ~ .slide36
{
	margin-left: -80%;
}


/*//////////////////////////////FAQ//////////////////////*/
#faqsection {
  position: relative;   
  display: flex;
  flex-direction: row;  
  width: 100%;
    background-image: linear-gradient(270deg,
         rgba(8, 92, 116, 0.85), 
        rgba(255, 255, 255, 0.85)
      ), url("img/background.png"); 
background-size: cover;
background-attachment: fixed;
background-repeat: repeat;
background-position: top center;
padding-top: 50px;

}
.middle-faq {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
   font-family: 'Pirata One', Helvetica, Arial, sans-serif;

}
.middle-faq i {
  font-size: 5em;
  font-weight: lighter;
  margin: auto;
}
.middle-faq i:nth-child(1) {
  color: #085c74;
}
.middle-faq i:nth-child(3) {
   transform: rotate(180deg);
}
.middle-faq p {
  writing-mode: vertical-rl;
text-orientation: upright;
margin: auto;
}
.middle-faq p span {
  font-size: 3em;
}

.questions-faq {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #085c74;
    width: 33%;
    margin: auto;
    text-align: center;
}
.answers-faq {
  width: 33%;
  position: relative;
  margin: auto;
  display: flex;
  font-size: 1.5em;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5), 0 0 100px 100px rgba(0, 0, 0, 0.1);  
  background: rgba( 255, 255, 255, 0.25 );
/*mix-blend-mode: hard-light;*/
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
  border-radius: 30px;
}
.questions-faq p {
  cursor: pointer;
  transition: all 0.5s;
  font-size: 1.25em;
  position: relative;
}

.questions-faq p:nth-child(1) {
  transform: scale(1.25);
   opacity: 1;
}
.questions-faq p:nth-child(2), .questions-faq p:nth-child(3), .questions-faq p:nth-child(4), .questions-faq p:nth-child(5)
, .questions-faq p:nth-child(6), .questions-faq p:nth-child(7), .questions-faq p:nth-child(8) {
  opacity: 0.5;  
  transform: scale(1);
}
.question-text {
 /*position: absolute;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%; 
  background-size: cover;
  background-repeat: no-repeat;  
  transition: all 0.5s;
  text-align: center;
  margin: auto; 
  
  padding: 10px;
}
.question-text img{
 width: 66%;
  height: 66%;
  object-fit: cover;
}

#question-2-text, #question-3-text, #question-4-text, #question-5-text, #question-6-text, #question-7-text, #question-8-text {
  display: none;
}
#question-1-text {
  display: block;
}

/*//////////////////////POUVOIRS PUBLICS//////////////////////////*/
#mairies {
  position: relative;   
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;  
  width: 100%;
  padding: 50px;
  align-items: center;
}
#intromairies {
  width: 25%;
  margin: auto;
  padding: 0 15px;
  text-align: center;
  font-size: 1.25em;
  align-items: center;
  border: 3px solid red;
  /* writing-mode: vertical-rl;
text-orientation: upright;*/
}
#intromairies h2 strong{
  font-family: 'Pirata One', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  /* writing-mode: vertical-rl;
text-orientation: upright;*/
}
#divmairies {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.linksmairies {
  width: 10%;
   height: 200px;
  display: flex;
  flex-direction: column;
   justify-content: space-evenly;
  position: relative;
  text-align: center;
  align-items: center;  
  margin: auto;
}
.linksmairies a {
  margin: auto;  
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.linksmairies h3, .linksmairies img {
  margin: auto;
  text-align: center;
  width: 100%;
  object-fit: cover;
} 
.linksmairies a:hover {
 transform: scale(1.25);
}


/*//////////////////////PRESSE//////////////////////////*/
article {
  position: relative;   
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;  
  width: 100%;
  padding: 25px;
  align-items: center;
}
#intropresse {
  width: 25%;
  margin: auto;
  padding: 0 15px;
  text-align: center;
  font-size: 1.25em;
  /* writing-mode: vertical-rl;
text-orientation: upright;*/
}
#intropresse h2 strong{
  font-family: 'Pirata One', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  /* writing-mode: vertical-rl;
text-orientation: upright;*/
}
#divpresse {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}
.articlepresse {
  width: 175px;
  object-fit: cover;
  height: auto;
  position: relative;
  text-align: center;
  align-items: center;
  padding: 25px;
}
.articlepresse h2, .articlepresse p, .articlepresse img {
  margin: auto;
  text-align: center;
   width: 100%;
} 
.articlepresse a {
 position: absolute;
 color: #085c74;
 top: 50px;
 left: 50px;
 display: none;
 transition: all 0.4s;
}
.articlepresse i {
 font-size: 100px;
}
.articlepresse:hover a { 
 display: block;
 opacity: 1;
 color: white;

}
.articlepresse:hover img {
  opacity: 0.25;
  filter: grayscale(1);
  transition: all 0.5s;
}


/*///////////////////VIDEO///////////////////////////////////////////*/
#sectiontv {
  position: relative;   
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;  
  width: 100%;
  padding: 50px;
  align-items: center;
}
.silhouette {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  
}
.silhouette .silhouettebox {
  position: relative;
  width: 750px;
  height: 350px;
  margin: 40px;
}
.silhouette .silhouettebox video {
  position: absolute;
  top: 0;
  left: 0;
  width: 99.9%;
 height: 99.9%;
 object-fit: cover;
}
.silhouette .silhouettebox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
 height: 100%;
  object-fit: cover;
 mix-blend-mode: screen;
 
}
/*////////////////////////////////EARTH TV//////////////////////*/
#earthtv {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	transform-style: preserve-3d;
	width: 25%;
}
.earth {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: url(img/earth.jpg);
	background-size: cover;
	background-repeat: repeat-x;
	box-shadow: inset 0 0 20px rgba(0,0,0,1), 0 0 50px #78e4e4;
	animation: earthrotate 15s linear infinite;
}
@keyframes earthrotate
{
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -896px 0;
	}
}
.circleearth {
	transform-style: preserve-3d;
	animation: textrotate 10s linear infinite;
}

.circleearth span {
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	color: black;
	font-size: 2em;
	transform-origin: center;
	transform-style: preserve-3d;
	padding: 5px 11px;
	transform: rotateY(calc(var(--i) * calc(360deg / 30)))
	translateZ(200px);
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}
@keyframes textrotate
{
	0% {
		transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
	}
	100% {
		transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
	}
}
/*.circleearth span::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	transform: translateZ(-5px);
}*/










/*.char1 {    
  
  font-size: 1.5em;
}
.char15 {    
  
  font-size: 5em;
}*/






/*-------------------------------NAV FOOTER-------------------------*/
.to-top {
position: fixed;
bottom: 50px;
right: 10px;
font-size: 50px; 
-webkit-text-stroke: 0.5px black; 
display: flex;
align-items: center;
justify-content: center;
opacity: 0;
pointer-events: none;
transform: rotate(180deg);
transition: all 0.4s;

}
.to-top.up {
bottom: 50px;
pointer-events: auto;
opacity: 1;
transform: rotate(0deg);
text-shadow: -1px 0 2px white, 0 1px 2px white, 1px 0 2px white, 0 -1px 10px white;
color: #085c74;
}
footer {   
height: 325px;
display: flex;
text-align: center;
position: relative;
background-image: url("img/footer.png");
background-attachment: scroll;
background-size: cover;
background-repeat: repeat;
background-position: center ;
padding-top: 50px;
position: relative;
font-family: 'Audiowide', cursive;
  
}
footer p {
color: white;
font-weight: bolder;
margin: auto;
position: absolute;
bottom: 0%;
left: 50%;
transform: translate(-50%, -50%);
}
footer p strong {
font-family: 'SEGA', 'Audiowide', Helvetica, Arial, sans-serif;
color: #bc040c;
letter-spacing: 0.5px;
font-weight: lighter;
}

/*-------------------------------MEDIA QUERIES-------------------------*/
@media (max-width: 768px) {
  .menu-toggle {   
  display: flex;
  }
  nav {
    position: absolute;
    width: 25%;
    height: calc(100vh - 50px);
    top: 75px;
    right: -100%;
    transition: 0.5s
  }
  nav.active {
    right: 0;
  }
  nav ul {  
    display: block;
    text-align: center;
  }
  nav ul li a {  
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  nav ul li.active ul {
    position: relative;   
    /*display: flex;*/
  }
    nav ul li ul li {
    width: 100%;   
  }
}

