
html {
scroll-behavior: smooth;
/* Disables pull-to-refresh but allows overscroll glow effects. */
overscroll-behavior: none;
}
body {
margin: 0;
padding: 0;	
font-family: 'Pirata One', Helvetica, Arial, sans-serif;
box-sizing: border-box;
overflow-x: hidden;
min-height: 100vh;
background: #78e4e4;
}
a {
text-decoration: none;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  scroll-behavior: smooth;
}
#logo {
  height: 120px;  
  width: auto;
  margin: 25px;
}
#logo img {
  height: 120px;
}
nav {
 width: 60%;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  list-style: none;
  position: relative;
}
nav ul li.sub-menu:before {
  content: '\f107';
  position: absolute;
  font-family: fontAwesome;
  line-height: 50px;
  right: 5px;
  color: white;
}
nav ul li.active.sub-menu:before {
  content: '\f106';
}
nav ul li ul {
  position: absolute;
  left: 0;
  display: none;
}
nav ul li.active ul {
  display: block;
}
nav ul li ul li {
  display: block;
  width: 200px;
}
nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  display: block;
  font-size: 1.5em;
  color: black;
  text-align: center;
}
nav ul li a:hover, nav ul li a.active {
  color: white;
  background: #085c74;
  border-radius: 30px;
}
.menu-toggle {
  width: 80px;
  height: 80px;  
  cursor: pointer; 
  display: none;
  transition: all 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
  
}
.menu-burger {
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}
.menu-burger::before, .menu-burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.menu-burger::before {
  transform: translateY(-15px);
}
.menu-burger::after {
  transform: translateY(15px);
}
.menu-toggle.open .menu-burger {
  /*transform: translateX(-50px);*/
  background: transparent;
  box-shadow: none;

}
.menu-toggle.open .menu-burger::before {
  transform: rotate(45deg) translateY(0px);
}
.menu-toggle.open .menu-burger::after {
  transform: rotate(-45deg) translateY(0px);
}


section {
  position: relative;
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, #085c74, transparent);
  z-index: 10;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
}
h1 {
  position: absolute;
  color: white;
  
 -webkit-text-stroke: 1px black;
  letter-spacing: 0.25em;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  transform: translateY(-50%);
  background-image: linear-gradient(
        180deg,         
        #FF0000 14%, 
        #FF7F00 14%, 
        #FF7F00 28%, 
        #FFFF00 28%, 
        #FFFF00 43%, 
        #00FF00 43%, 
        #00FF00 57%, 
        #0000FF 57%, 
        #0000FF 71%, 
        #4B0082 71%,
        #4B0082 85%, 
        #9400D3 85%);
  background-size: 100%;
  background-repeat: repeat;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
h1 span {
  font-size: 3.5em;
}
#actioncounter {
  text-decoration: none;
  display: inline-block;
  padding: 8px 10px; 
  color: white;
  font-size: 1.5em;
  border-radius: 30px;
  transform: translateY(200px);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5), 0 0 100px 100px rgba(0, 0, 0, 0.1);  
  background: rgba( 255, 255, 255, 0.25 );
/*mix-blend-mode: hard-light;*/
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
}
#actioncounter p {
  text-align: center;  
}
.countdown {
  display: flex;
  margin-top: 5px;
}
.countdown div {
  position: relative;
  width: 75px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 5px;
  background: white;
  color: black;
}
.countdown div:before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 25px;
  font-size: 0.75em;
  background: #085c74;
  line-height: 25px;
  color: white;
}
.countdown #days:before {
  content: 'Jours';
}
.countdown #hours:before {
  content: 'Heures';
}
.countdown #minutes:before {
  content: 'Minutes';
}
.countdown #seconds:before {
  content: 'Secondes';
}





.sec {
  position: relative;
  padding: 0 75px;
  background: #085c74;
  display: flex;
  flex-direction: column;
}
.sec h2, .sec p {
  color: white;
}
.sec h2 {
  font-size: 3em;
}
.sec p {
  font-size: 2em;
}
.sec p i {
  font-size: 3em;
  margin: 0 5px;
}
.sec p:nth-child(3), .sec p:nth-child(4) {
  width: 50%;
  margin: auto;
  font-style: italic;
}
/*.char1 {    
  
  font-size: 1.5em;
}
.char15 {    
  
  font-size: 5em;
}*/






/*-------------------------------NAV FOOTER-------------------------*/
.to-top {
position: fixed;
bottom: 50px;
right: 10px;
font-size: 50px; 
-webkit-text-stroke: 0.5px black; 
display: flex;
align-items: center;
justify-content: center;
opacity: 0;
pointer-events: none;
transform: rotate(180deg);
transition: all 0.4s;
}
.to-top.active {
bottom: 50px;
pointer-events: auto;
opacity: 1;
transform: rotate(0deg);
text-shadow: -1px 0 2px white, 0 1px 2px white, 1px 0 2px white, 0 -1px 10px white;
}
/*-------------------------------MEDIA QUERIES-------------------------*/
@media (max-width: 768px) {
  .menu-toggle {   
  display: flex;
  }
  nav {
    position: absolute;
    width: 25%;
    height: calc(100vh - 50px);
    top: 75px;
    right: -100%;
    transition: 0.5s
  }
  nav.active {
    right: 0;
  }
  nav ul {  
    display: block;
    text-align: center;
  }
  nav ul li a {  
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  nav ul li.active ul {
    position: relative;   
    /*display: flex;*/
  }
    nav ul li ul li {
    width: 100%;   
  }
}

